<script>
	$(document).ready(function(){
		
		//Fill Right side Panel into Screen
		var h=window.innerHeight;
		var maxRightPanelHeight = h -200;
		$(".panel-right").height(maxRightPanelHeight);
		
		//Custom Scrollbar
		$("#content-rdsd").mCustomScrollbar({theme:"rounded-dots-dark"});
	
		//Begin - Change the Checkbox status to checked & add items to YOUR ORDER panel, when add button clicked
		$(".add-to-cart").click(function(){
			var add = $(this).attr('value');
			$("#" + add).prop('checked', true);
			//Add Item to YOUR ORDER panel
			$('#added-item-list tr:first').before('<tr><td class="text-danger">Item 1</td><td>$9.00</td>/tr>');
		});
		//End - Change the Checkbox status to checked & add items to YOUR ORDER panel, when add button clicked
	});
</script>

<div class="page page-dashboard" data-ng-controller="DashboardCtrl" style="overflow-y: auto;">
    <div class="row">
        <div class="col-md-8" >
            <section class="panel panel-default mail-container">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;<span data-i18n=" Menu Picker"></span></strong></div>
                <div class="panel-body">		
					<div class="callout callout-info">
						<h4>Salsiccia <i class="fa fa-circle color-danger"></i></h4>
						<p>Napoli sauce, cheese, calabrese pork sausage, green olives and mushroom.</p>
						<table class="table table-hover">
							<tr>
								<td class="col-md-10"><label class="ui-checkbox"><input name="checkbox1" type="checkbox" id="dishid1"><span></span></label>Regular</i></td>
								<td class="col-md-1">$9.00</td>
								<td class="col-md-1"><button type="button" data-modal="modal-9" class="btn btn-success btn-xs md-trigger" value="dishid1">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox2" type="checkbox" id="dishid2"><span></span></label>Large</i></td>
								<td>$15.00</td>
								<td><button type="button" class="btn btn-success btn-xs add-to-cart" value="dishid2">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox3" type="checkbox" id="dishid3"><span></span></label>Family</i></td>
								<td>$20.00</td>
								<td><button type="button" class="btn btn-success btn-xs add-to-cart" value="dishid3">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox4" type="checkbox" id="dishid4"><span></span></label>party</i></td>
								<td>$40.00</td>
								<td><button type="button" class="btn btn-success btn-xs add-to-cart" value="dishid4">Add to Cart</button></td>
							</tr>
						</table>
					</div>
					<div class="callout callout-info">
						<h4>Verdure</h4>
						<p>Napoli sauce, cheese, spinach, ricotta, sliced tomato and green olives.</p>
						<table class="table table-hover">
							<tr>
								<td class="col-md-10"><label class="ui-checkbox"><input name="checkbox5" type="checkbox" value="option1" ><span></span></label>Regular</i></td>
								<td class="col-md-1">$9.00</td>
								<td class="col-md-1"><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox6" type="checkbox" value="option1" ><span></span></label>Large</i></td>
								<td>$15.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox7" type="checkbox" value="option1" ><span></span></label>Family</i></td>
								<td>$20.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox8" type="checkbox" value="option1" ><span></span></label>party</i></td>
								<td>$40.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
						</table>
					</div>
					<div class="callout callout-info">
						<h4>Polpetta</h4>
						<p>Napoli sauce, cheese, bolognaise, parmesan.</p>
						<table class="table table-hover">
							<tr>
								<td class="col-md-10"><label class="ui-checkbox"><input name="checkbox9" type="checkbox" value="option1" ><span></span></label>Regular</i></td>
								<td class="col-md-1">$9.00</td>
								<td class="col-md-1"><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox10" type="checkbox" value="option1" ><span></span></label>Large</i></td>
								<td>$15.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox11" type="checkbox" value="option1" ><span></span></label>Family</i></td>
								<td>$20.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox12" type="checkbox" value="option1" ><span></span></label>party</i></td>
								<td>$40.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
						</table>
					</div>
					<div class="callout callout-info">
						<h4>Ortolana</h4>
						<p>Napoli sauce, cheese, pumpkin, potato, peppers and onion.</p>
						<table class="table table-hover">
							<tr>
								<td class="col-md-10"><label class="ui-checkbox"><input name="checkbox13" type="checkbox" value="option1" ><span></span></label>Regular</i></td>
								<td class="col-md-1">$9.00</td>
								<td class="col-md-1"><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox14" type="checkbox" value="option1" ><span></span></label>Large</i></td>
								<td>$15.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox15" type="checkbox" value="option1" ><span></span></label>Family</i></td>
								<td>$20.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox16" type="checkbox" value="option1" ><span></span></label>party</i></td>
								<td>$40.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Add to Cart</button></td>
							</tr>
						</table>
					</div>
				</div>
            </section> 
        </div>
        <div class="col-md-4" >
            <div class="panel-right panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;<span data-i18n=" Your Order"></span></strong></div>
                <div class="panel-body" data-ng-controller="TabsDemoCtrl">
					<tabset justified="true" class="ui-tab">
                        <tab heading="Home Delivery" select="alertHomeDeliver()">
							 <div class="form-group">
								<div data-ng-controller="TypeaheadCtrl">
									<input type="text" 
										ng-model="selected"
										typeahead="state for state in states | filter:$viewValue | limitTo:8"
										class="form-control"
										placeholder="Deliver to:">
								</div>
							</div>
							<div class="form-group">
								<div data-ng-controller="TypeaheadCtrl">
									<input type="text" 
										ng-model="selected"
										typeahead="state for state in states | filter:$viewValue | limitTo:8"
										class="form-control"
										placeholder="Requested for:">
								</div>
							</div>
						</tab>
                        <tab heading="Self Pickup" select="alertSelfPickup()">
							<div class="form-group">
								<div data-ng-controller="TypeaheadCtrl">
									<input type="text" 
										ng-model="selected"
										typeahead="state for state in states | filter:$viewValue | limitTo:8"
										class="form-control"
										placeholder="Requested for:">
								</div>
							</div>
						</tab>
                    </tabset>
					<div id="content-rdsd" class="content light">
						<table id="added-item-list" class="table table-hover" style="left: 0;">
							<tr></tr>
						</table>
					</div>
					<table class="table" style="bottom: 0; left: 0; position: absolute">
						<tr>
							<td class="text-primary">Sub Total</td>
							<td>$29.00</td>
						</tr>
						<tr>
							<td class="text-primary">Delivery Fee</td>
							<td>$5.00</td>
						</tr>
						<tr>
							<td class="text-primary">Total</td>
							<td>$34.00</td>
						</tr>
						<tr style="text-align: center;">
							<td colspan="2"><button type="button" class="btn btn-w-md btn-gap-v btn-primary">Proceed</button></td>
						</tr>
					</table>
				</div>
            </div>
        </div>
    </div>
</div>

<!-- Nifty Modal Window Effects -->
<div class="md-modal md-effect-9" id="modal-9">
	<div class="md-content">
		<h3>Salsiccia  Pizza - Regular Customize</h3>
			<section class="panel panel-default">
                <div class="panel-heading">
					<table class="table table-hover">
						<tr>
							<td class="col-md-11">Regular</td>
							<td class="col-md-1">$90.00</td>
						</tr>
						<tr>
							<td>Extras</td>
							<td>$00.00</td>
						</tr>
					</table><br>
					<button type="button" class="btn btn-success btn-xs md-close add-to-cart" value="dishid1">Add to Cart</button>
				</div>
				<div class="panel-body">		
					<h4>Extra ingredient</h4>
					<div class="callout callout-info col-md-4">
						<table class="table table-hover">
							<tr>
								<td class="col-md-11">Regular</td>
								<td class="col-md-1">$90.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
							<tr>
								<td>Regular</td>
								<td>$90.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
							<tr>
								<td>Regular</td>
								<td>$90.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
						</table>
					</div>
					<div class="callout callout-info col-md-4">
						<table class="table table-hover">
							<tr>
								<td class="col-md-11">Regular</td>
								<td class="col-md-1">$90.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
							<tr>
								<td>Regular</td>
								<td>$90.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
							<tr>
								<td>Regular</td>
								<td>$90.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
						</table>
					</div>
					<div class="callout callout-info col-md-4">
						<table class="table table-hover">
							<tr>
								<td class="col-md-11">Regular</td>
								<td class="col-md-1">$90.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
							<tr>
								<td>Regular</td>
								<td>$90.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
							<tr>
								<td>Regular</td>
								<td>$90.00</td>
							</tr>
							<tr>
								<td>Extras</td>
								<td>$00.00</td>
							</tr>
						</table>
					</div>
				</div>
			</section>
	</div>
</div>
<div class="md-overlay"></div><!-- the overlay element -->
<script src="ModalWindowEffects/js/classie.js"></script>
<script src="ModalWindowEffects/js/modalEffects.js"></script>
<!-- end Nifty Modal Window Effects -->