<script>
	$(document).ready(function(){
		
		//Fill Right side Panel into Screen
		var h=window.innerHeight;
		var maxRightPanelHeight = h -200;
		$(".panel-right").height(maxRightPanelHeight);
		
		//Custom Scrollbar
		$("#content-rdsd").mCustomScrollbar({theme:"rounded-dots-dark"});
	
		//Begin - Change the Checkbox status to checked & add items to YOUR ORDER panel, when add button clicked
		$(".add-to-cart").click(function(){
			var add = $(this).attr('value');
			$("#" + add).prop('checked', true);
			//Add Item to YOUR ORDER panel
			$('#added-item-list tr:first').before('<tr><td class="text-danger">Item 1</td><td>$9.00</td>/tr>');
			//Set height of item to be listed in right panel
			$(".content").height(maxRightPanelHeight-450);
		});
		//End - Change the Checkbox status to checked & add items to YOUR ORDER panel, when add button clicked
	});
</script>

<div class="page page-dashboard" data-ng-controller="DashboardCtrl" style="overflow-y: auto;">
    <div class="row">
        <div class="col-md-8" >
            <section class="panel panel-default mail-container">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;<span data-i18n=" Menu Picker"></span></strong></div>
                <div class="panel-body">		
					<div class="callout callout-info">
						<h4>Salsiccia <i class="fa fa-circle color-danger"></i></h4>
						<p>Napoli sauce, cheese, calabrese pork sausage, green olives and mushroom.</p>
						<table class="table table-hover">
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox1" type="checkbox" id="dishid1"><span></span></label>Regular</i></td>
								<td>$9.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs add-to-cart" value="dishid1">Add</button></td>
							</tr>

							<tr>
								<td><label class="ui-checkbox"><input name="checkbox2" type="checkbox" id="dishid2"><span></span></label>Large</i></td>
								<td>$15.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs add-to-cart" value="dishid2">Add</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox3" type="checkbox" id="dishid3"><span></span></label>Family</i></td>
								<td>$20.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs add-to-cart" value="dishid3">Add</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox4" type="checkbox" id="dishid4"><span></span></label>Part</i></td>
								<td>$40.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs add-to-cart" value="dishid4">Add</button></td>
							</tr>
						</table>
					</div>
					<div class="callout callout-info">
						<h4>Verdure</h4>
						<p>Napoli sauce, cheese, spinach, ricotta, sliced tomato and green olives.</p>
						<table class="table table-hover">
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox5" type="checkbox" value="option1" ><span></span></label>Regular</i></td>
								<td>$9.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>

							<tr>
								<td><label class="ui-checkbox"><input name="checkbox6" type="checkbox" value="option1" ><span></span></label>Large</i></td>
								<td>$15.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox7" type="checkbox" value="option1" ><span></span></label>Family</i></td>
								<td>$20.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox8" type="checkbox" value="option1" ><span></span></label>Part</i></td>
								<td>$40.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>
						</table>
					</div>
					<div class="callout callout-info">
						<h4>Polpetta</h4>
						<p>Napoli sauce, cheese, bolognaise, parmesan.</p>
						<table class="table table-hover">
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox9" type="checkbox" value="option1" ><span></span></label>Regular</i></td>
								<td>$9.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>

							<tr>
								<td><label class="ui-checkbox"><input name="checkbox10" type="checkbox" value="option1" ><span></span></label>Large</i></td>
								<td>$15.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox11" type="checkbox" value="option1" ><span></span></label>Family</i></td>
								<td>$20.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox12" type="checkbox" value="option1" ><span></span></label>Part</i></td>
								<td>$40.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>
						</table>
					</div>
					<div class="callout callout-info">
						<h4>Ortolana</h4>
						<p>Napoli sauce, cheese, pumpkin, potato, peppers and onion.</p>
						<table class="table table-hover">
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox13" type="checkbox" value="option1" ><span></span></label>Regular</i></td>
								<td>$9.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>

							<tr>
								<td><label class="ui-checkbox"><input name="checkbox14" type="checkbox" value="option1" ><span></span></label>Large</i></td>
								<td>$15.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox15" type="checkbox" value="option1" ><span></span></label>Family</i></td>
								<td>$20.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>
							<tr>
								<td><label class="ui-checkbox"><input name="checkbox16" type="checkbox" value="option1" ><span></span></label>Part</i></td>
								<td>$40.00</td>
								<td><button type="button" class="btn btn-success btn-xs">Customize</button></td>
								<td><button type="button" class="btn btn-success btn-xs">Add</button></td>
							</tr>
						</table>
					</div>
				</div>
            </section> 
        </div>
        <div class="col-md-4" >
            <div class="panel-right panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;<span data-i18n=" Your Order"></span></strong></div>
                <div class="panel-body" >
                  <Strong>Your Order is for:</Strong><br><br>
				  <label class="ui-radio"><input name="radio1" type="radio" value="option1" checked><span>Home Delivery</span></label>
                  <label class="ui-radio"><input name="radio2" type="radio" value="option2"><span>Self Pickup</span></label>
				  <br><Strong>Delivery to:</Strong><br>
				  <span class="ui-select-order">
					<select>
						<option>Mustard</option>
						<option>Ketchup</option>
						<option>Barbecue</option>
					</select>
				  </span>
				  <br><Strong>Requested for:</Strong><br>
				  <span class="ui-select-order">
					<select>
						<option>Mustard</option>
						<option>Ketchup</option>
						<option>Barbecue</option>
					</select>
				  </span>
				  <br><br><Strong>Item Selected</Strong><br>
				  <div id="content-rdsd" class="content light">
					<table id="added-item-list" class="table table-hover" style="left: 0;">
						<tr></tr>
					</table>
				  </div>
				  <table class="table" style="bottom: 0; left: 0; position: absolute">
					<tr>
						<td class="text-primary">Sub Total</td>
						<td>$29.00</td>
					</tr>
					<tr>
						<td class="text-primary">Delivery Fee</td>
						<td>$5.00</td>
					</tr>
					<tr>
						<td class="text-primary">Total</td>
						<td>$34.00</td>
					</tr>
				  </table>
				</div>
            </div>
        </div>
    </div>
</div>