<section class="panel-left panel-default">
<div class="panel-heading"><strong><span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;<span data-i18n=" Menu card"></span></strong></div>
</section>
<div id="nav-wrapper">
    <ul id="nav" data-ng-controller="NavCtrl" data-collapse-nav data-slim-scroll data-highlight-active>
        <li>
            <a href="#/dashboard"><i class="fa fa-magic"><span class="icon-bg bg-orange"></span></i><span data-i18n="Gourmet Pizza"></span></a>
        </li>
        <li>
            <a href="#/table"><i class="fa fa-table"><span class="icon-bg bg-warning"></span></i><span data-i18n="Half Half Traditional"></span></a>
        </li>
        <li>
            <a href="#/form"><i class="fa fa-pencil"><span class="icon-bg bg-success"></span></i><span data-i18n="Calzone"></span></a>
        </li>
        <li class="nav-task">
            <a href="#/tasks1">
                <i class="fa fa-tasks"><span class="icon-bg bg-info"></span></i><span data-i18n="Pasta"></span>
                <span class="badge badge-danger main-badge" data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
            </a>
        </li>
        <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"><span class="icon-bg bg-primary-light"></span></i><span data-i18n="Steak"></span></a>
        </li>
        <li>
            <a href="#/mail"><i class="fa fa-envelope-o"><span class="icon-bg bg-primary"></span></i><span data-i18n="Chicken"></span></a>
        </li>
        <li>
            <a href="#/pages"><i class="fa fa-file-text-o"><span class="icon-bg bg-violet"></span></i><span data-i18n="Sea Food"></span></a>
        </li>
		<li>
            <a href="#/pages"><i class="fa fa-file-text-o"><span class="icon-bg bg-violet"></span></i><span data-i18n="Greens"></span></a>
        </li>
		<li>
            <a href="#/pages"><i class="fa fa-file-text-o"><span class="icon-bg bg-violet"></span></i><span data-i18n="Sweets"></span></a>
        </li>
		<li><a href="#/dashboard1"> <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-i18n="Drinks"></span> </a></li>
    </ul>
</div>
